* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
  background-color: rgb(225, 234, 247);
}

.home-wrapper {
  display: flex;
  gap: 5em;
  border-radius: 1em;
  margin-top: 15em;
  margin-bottom: 4em;
  justify-content: center;
  border-radius: 1em;
}

.home-image {
  object-fit: cover;
  width: 450px;
  height: 350px;
  border-radius: 1.5em;
}

.home-title {
  text-align: center;
  color: rgb(100, 118, 239);
  font-family: Raleway;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 8em;
  z-index: 1;
  padding: 3em;

  background-color: rgb(166, 202, 245);
  font-family: Raleway;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

.all-movies-wrapper {
  display: flex;
  flex-direction: row;
}

.card-image {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 1em;
}

.movies-list {
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  gap: 5em;
  margin-bottom: 8em;
  margin-top: 10em;
}

.card-title {
  all: unset;
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: rgb(100, 118, 239);
  font-family: Raleway;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 0.5em;
}

.random-movie {
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  gap: 5em;
  margin-bottom: 8em;
  margin-top: 10em;
  color: rgb(100, 118, 239);
  font-family: Raleway;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 0.5em;
}

.random-movie-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8em;
  margin-top: 14em;
  gap: 3em;
}

.next-random-movie-button {
  all: unset;
  color: rgb(100, 118, 239);
  background-color: rgb(166, 202, 245);
  border-radius: 1em;
  padding: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  margin: 1em;
  font-family: Raleway;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}
